body {
    background-color: var(--bg-dark);
    background-image: var(--bg-transparent-dark), url("../img/guitar.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    min-height: 100vh;

}

h1 {
    color: var(--txt-light);
    text-align: center;
    margin-top: 4em;
    font-size: 4em;
}

h3 {
    color : var(--txt-light);
    margin-top: 0px; 
}

.subTitle{
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
}