.main {
    flex-wrap: nowrap;
}

.aside-form {
    background-color: var(--bg-light-2);
    margin: 0 2em 0 4em;
    padding: 2em;
    flex-grow: 1;
    height: 100%;
    position: relative;
}

.footer-form {
    margin-top: 4em;
    display: flex;
}

.footer-form > .left,
.footer-form > .right {
    flex-grow: 1;
}

.footer-form > .left {
    text-align: left;
}

.footer-form > .right {
    text-align: right;
}

.main .titre {
    font-weight: bold;
    color: var(--txt-theme);
    text-align: center;
    margin: 1em 0 2em 0;
}

/* Bouton valider */
.btn-form {
    color: var(--txt-light);
    padding: 0.5em 2em;
    border: none;
    border-radius: 4px;
}

.btn-form:hover {
    color: var(--txt-light);
}

.btn-valider {
    background-color: var(--txt-green);
}

.btn-supprimer {
    background-color: var(--txt-red);
}

/* Bouton refresh */
.btn-refresh {
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    color: var(--txt-dark);
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.btn-refresh:hover {
    background-color: transparent;
    color: var(--txt-dark-1);
}


/* MODAL */
.modal-filtre {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--bg-dark-alpha)
}

.modal {
    display: block;
    position: relative;
    top: 10vh;
    width: 50%;
    padding: 2em;
    margin: auto;
    background-color: var(--bg-light-2);
}

.modal-header {
    padding: 0;
    border: none;
}
.modal-header .close {
    margin-top: -0.5em;
}

.modal-header button.close > span {
    font-size: 2em;
}

.modal-main {
    margin-top: 1em;
}

.modal-footer {
    padding-bottom: 0;
}

.msg-alert {
    color: var(--txt-red);
}



.liste-musique a{

    text-decoration: none;
}
.liste-user{
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--bg-dark);
    color: var(--txt-light-1);
    padding: 0.5em;
    line-height: 2em;
    border-radius: 5px;
    font-size : 17px ;
    margin : 5px;
}
.liste-user:hover{
    background-color: var(--bg-theme);
    color: var(--txt-light-1);
}