/* Import de la font ROBOTO */
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/Roboto-Regular.ttf");
}


/* Création des variables css */
:root {
    --theme: #1f2631;

    /* Les couleurs de background */
    /* Noire */
    --bg-dark: #1f2631;
    --bg-dark-1: #11161d;

    /* Blanc */
    --bg-light: #edf1f5;
    --bg-light-1: #f6f6f6;
    --bg-light-2: #fafafa;
    --bg-light-3: #ffffff;

    /* Bleu */
    --bg-theme: var(--theme);

    /* Dégradé */
    --bg-transparent-dark: linear-gradient(transparent 0%, var(--bg-dark) 100%);

    /* Noire transparent */
    --bg-dark-alpha: #1f2631cc;

    /* Noire item active */
    --bg-active: #080808;


    /* Le couleurs de texte */
    /* Noire */
    --txt-dark: #5c728a;
    --txt-dark-1: #1f2631;

    /* Blanc */
    --txt-light: #f6f6f6;
    --txt-light-1: #ffffff;

    /* Theme */
    --txt-theme: var(--theme);

    /* Other */
    --txt-red: crimson;
    --txt-green: limegreen;
}


body {
    font-family: "Roboto";
}

header > .navbar {
    border-radius: 0;
    border: none;
    border-top: 3px solid var(--bg-theme);
    background-color: var(--bg-dark);
    margin: 0;
}

header > .navbar .dropdown button#administration {
    padding: 15px;
    border-radius: 0;
    background-color: transparent;
    color: #9d9d9d;
    border: none;
}

header > .navbar .dropdown button#administration:hover,
header > .navbar .dropdown li.active button#administration:hover {
    color: var(--txt-light-1);
}

header > .navbar .dropdown-menu {
    left: -1px;
    top: 99%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-dark);
    box-shadow: none;
    border: none;
    border-radius: 0;
}

header > .navbar .dropdown-menu .dropdown-item {
    color: var(--txt-light);
}

header > .navbar .dropdown-menu > li > a {
    padding: 0.7em 15px;
}

header > .navbar .dropdown-menu > li > a:hover {
    color: var(--txt-theme);
    background-color: var(--bg-dark);
}

header > .navbar li.active button#administration {
    background-color: var(--bg-active);
    color: var(--txt-light-1);
}