body {
    background-color: var(--bg-light);
}

/* Breadcrumb */
.breadcrumb a {
    color: var(--txt-theme);
}

.form-connexion {
    background-color: var(--bg-light-2);
    padding: 2em 3em;
    width: 30vw;
    margin: auto;
    border-radius: 4px;
}

.titre {
    font-weight: bold;
    color: var(--txt-dark);
    text-align: center;
    margin: 1em 0 2em 0;
}

.form-control {
    background-color: var(--bg-light);
    border: none;
    box-shadow: none;
    color: var(--txt-dark);
    font-size: 1.4rem;
    height: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    padding: 0 15px;
}

.form-control:focus {
    box-shadow: none;
}

.login {
    background-color: var(--bg-theme);
    color: var(--txt-light);
    padding: 0.5em 2em;
}

.login:hover {
    color: var(--txt-light);
}

.group-btn {
    text-align: center;
}

.not-register {
    margin-top: 5em;
}

.not-register > a {
    color: var(--txt-dark);
    text-decoration: none;
}

.not-register > a:hover {
    color: var(--txt-theme);
}
.not-register span {
    color: var(--txt-theme);
}