body {
    background-color: var(--bg-light);
}

/* Breadcrumb */
.breadcrumb a {
    color: var(--txt-theme);
}


/* Centre de la page */
.page-musique {
    background-color: var(--bg-light-2);
    /* box-shadow: 0 2px 3px #55555588; */
    padding-top: 3em;
    width: 60vw;
    margin: 2em auto;
}

.ligne-image,
.ligne-titre {
    text-align: center;
}

.album-image {
    width: 15.7em;
}

.ligne-titre {
    margin-bottom: 2em;
    color: var(--txt-theme);
}

.liste-info {
    margin: 0;
    padding: 2em;
    background-color: var(--bg-theme);
    list-style-type: none;
}

.liste-info > li {
    color: var(--txt-light);
}