body {
    background-color: var(--bg-light);
}

/* Breadcrumb */
.breadcrumb a {
    color: var(--txt-theme);
}


/* Le contenu de la page */
.main {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
}



/* Centre de la page */
.page-musique {
    background-color: var(--bg-light-2);
    /* box-shadow: 0 2px 3px #55555588; */
    padding: 2em;
    flex: 0 1 60%;
    margin: 0 0 0 2em;
    display: flex;
    flex-direction: column;
}

.page-musique .titre {
    font-weight: bold;
    color: var(--txt-theme);
    text-align: center;
    margin: 1em 0 2em 0;
}

.page-musique .liste-musique {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.page-musique .liste-musique .affiche {
    width: 10em;
    height: 10em;
    margin: 1em;
    box-sizing: border-box;
    background-color: var(--bg-light);
    background-image: url("../img/note.png");
    background-position: center;
    background-size: contain;
    position: relative;
    overflow: hidden;
}

.page-musique .liste-musique .affiche .affiche-titre {
    position: absolute;
    left: 0;
    right: 0;
    top: 7em;
    height: 100%;
    background-color: var(--bg-dark-alpha);
    color: var(--txt-light-1);
    padding: 0.5em;
    line-height: 2em;
    transition-property: background-color, top;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.page-musique .liste-musique .affiche:hover .affiche-titre {
    background-color: var(--bg-theme);
    top: 0;
}


/* Le menu de gauche */
.aside-filter {
    width: 13em;
    /* position: fixed;
    left: 2em; */
    background-color: var(--bg-light);
}

.aside-filter .header {
    font-weight: bold;
    background-color: var(--bg-theme);
    color: var(--txt-light-1);
    padding: 1em;
}

.aside-filter a,
.aside-filter a:hover {
    border-radius: 0;
    color: var(--txt-dark);
}

.aside-filter > li + li {
    margin-top: 1px;
    background-color: var(--bg-light-2);
}

.aside-filter li.active {
    border-left: 5px solid var(--bg-theme);
    background-color: var(--bg-light-2);
}

.aside-filter li.active a,
.aside-filter li.active a:hover {
    background-color: transparent;
    color: var(--txt-theme);
}



/* Les onglets situé à droite */

.aside-onglets > li {
    background-color: var(--bg-light-1);
    border-radius: 0 5px 5px 0;
}

.aside-onglets > li > a {
    color: var(--txt-dark);
}

.aside-onglets > li.active {
    background-color: var(--bg-light-2);
}

.aside-onglets > li.active a,
.aside-onglets > li.active a:hover {
    background-color: transparent;
    color: var(--txt-theme);
}


/* Vide */
.vide {
    flex-grow: 1;
}


/* Pagination */
.footer {
    text-align: center;
}

.pagination > li > a {
    color: var(--txt-dark-1);
    background-color: transparent;
    border: none;
    font-weight: bold;
    border-radius: 1em;
}

.pagination > li:first-child > a,
.pagination > li:last-child > a,
.pagination > li:first-child > a:hover
.pagination > li:last-child > a:hover {
    display: none;
}

.pagination > li.current > a {
    color: var(--txt-theme);
}

.pagination > li.unavailable > a {
    color: grey;
}

