body {
    background-color: var(--bg-light);
}

/* Breadcrumb */
.breadcrumb a {
    color: var(--txt-theme);
}

/* Centre de la page */
.main {
    background-color: var(--bg-light-2);
    /* box-shadow: 0 2px 3px #55555588; */
    padding: 1em;
    width: 60vw;
    margin: 2em auto;
    box-sizing: border-box;
}

.main .titre {
    font-weight: bold;
    color: var(--txt-theme);
    text-align: center;
    margin: 1em 0 2em 0;
}

.main > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bold {
    font-weight: bold;
    margin: 0;
}

.paragraphe {
    text-align: justify;
    text-indent: 2em;
}

.theme {
    color: var(--txt-theme);
}

.main > ul > li > article {
    background-color: var(--bg-light-1);
    padding: 1em 2em;
}

.main > ul > li + li {
    margin-top: 1em;
}

.apropos {
    list-style-type: none;
}

.apropos > li{
    padding-top: 0.5em;
}


.palette-couleur {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.palette-couleur > li {
    flex-grow: 1;
    margin: 4em;
    height: 3.5em;
    margin: 0.5em;
}

.palette-couleur > li.active .proposition-theme > .glyphicon-ok-circle {
    color: currentColor;
}

.proposition-theme {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
    color: #1f263155;
}


.proposition-theme > .glyphicon-ok-circle {
    font-size: 2em;
    vertical-align: middle;
    color: transparent;
}

/* Les couleurs de theme */
.chocolate {
    background-color: chocolate;
}

.burly-wood {
    background-color: burlywood;
}

.deep-pink {
    background-color: deeppink;
}

.crimson {
    background-color: crimson;
}

.lime-green {
    background-color: limegreen;
}

.corn-flower-blue {
    background-color: cornflowerblue;
}

.blue-violet {
    background-color: blueviolet;
}