{% extends "base.html" %}

{% block main %}

<article>
    <h1>Bienvenue dans le monde du Rock avec IRMA</h1>
        <h3 class="subTitle">
            Pouvoir decouvrir et redecouvrir une multitude de musique<br/>
            de tous les genres pour tous les gouts
        </h3>
</article>

{% endblock %}