{% extends "base.html" %}

{% block main %}

<!-- Le fil d'ariane ou breadcrumb -->
<ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    {% if not loop.last %}
    <li>
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
    </li>
    {% else %}
    <li class="active">
        {{ breadcrumb.text }}
    </li>
    {% endif %}
    {% endfor %}
</ol>

<section class="main">
   
    <article class="page-musique container">
        <h2 class="titre">{{ pageName }}</h2>
    
        <ul class="liste-musique row">
            {% for musique in listeMusique %}
            <li>
                <a href="{{ url_for('adminMusique', id=musique.id) }}">
                    <section class="affiche" style="background-image:url('{{ url_for('static', filename='img/album/' ~ musique.img) }}')">
                        <span class="affiche-titre">{{ musique.title }}
                            <br/>
                            <sub>By : {{ musique.artist.name }}</sub>
                        </span>
                    </section>
                </a>
            </li>
            {% endfor %}
        </ul>

        <div class="vide"></div>
        <div class="footer">
            {{ pagination.links }}
        </div>
    </article>


    <!-- Formulaire de modification -->
    <aside class="aside-form">
        <h2 class="titre">Edition</h2>
        <a href="{{ url_for('adminMusique') }}" type="button" class="btn btn-default btn-refresh">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </a>
        {% if EditMusique != None %}
        <form role="form" method="POST" action="{{ url_for('adminMusique', id=EditMusique.id) }}">
        {% else %}
        <form role="form" method="POST" action="{{ url_for('adminMusique', id='-1') }}">
        {% endif %}
            <ul class="nav nav-pills nav-stacked">
                <li>{{ form.hidden_tag() }}</li>
                <li>{{ form.id(class_="form-control", value=EditMusique.id if EditMusique != None, type="hidden") }}</li>
                <li>{{ form.titre(size=50, class_="form-control", placeholder="Titre", value=EditMusique.title if EditMusique != None) }}</li>
                <li>{{ form.artiste(size=50, class_="form-control", placeholder="Artiste", value=EditMusique.artist.name if EditMusique != None) }}</li>
                <li>{{ form.producteur(size=50, class_="form-control", placeholder="Producteur", value=EditMusique.productor.name if EditMusique != None) }}</li>
                <li>{{ form.genre(size=50, class_="form-control", placeholder="Genre(s)", value=EditGenre if EditMusique != None) }}</li>
                <li>{{ form.annee(size=50, class_="form-control", placeholder="Année", value=EditMusique.releaseYear if EditMusique != None) }}</li>
                <li>
                    <div class="footer-form">
                        <span class="left">
                            <input type="button" value="Supprimer" class="btn-form btn-supprimer">
                        </span>
                        <span class="right">
                            <input type="submit" value="Valider" class="btn-form btn-valider">
                        </span>
                    </div>
                </li>
            </ul>
        </form>
    </aside>
            

</section>

<section class="modal-filtre hidden">
    <article class="modal">
        <header class="modal-header">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title">Confirmation</h3>
        </header>
        <section class="modal-main">
            <p class="msg-alert">
                Vous êtes sur le point de supprimer : {{ EditMusique.title if EditMusique != None }}.<br/>
                Les musiques supprimés NE PEUVENT PAS être restaurés ! Êtes‐vous ABSOLUMENT sûre ?
            </p>
        </section>
        <footer class="modal-footer">
            <form role="form" method="POST" action="{{ url_for('adminMusique', id='-2') }}" class="right">
                {{ delete.hidden_tag() }}
                {{ delete.id(class_="form-control", value=EditMusique.id if EditMusique != None, type="hidden") }}
                <input type="submit" value="Confirmer" class="btn-form btn-supprimer">
            </form>
        </footer>
    </article>
</section>

{% endblock %}