{% extends "base.html" %}

{% block main %}

<!-- Le fil d'ariane ou breadcrumb -->
<ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    {% if not loop.last %}
    <li>
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
    </li>
    {% else %}
    <li class="active">
        {{ breadcrumb.text }}
    </li>
    {% endif %}
    {% endfor %}
</ol>

<section class="main">
   
    <article class="page-musique container">
        <h2 class="titre">{{ pageName }}</h2>
    
        <ul class="liste-musique row">
            {% for user in listeUser %}
            <li>
                <a class="liste-user" href="{{ url_for('adminUser', id=user.username) }}">{{ user.username }}
                </a>
            </li>
            {% endfor %}
        </ul>

        <div class="vide"></div>
        <div class="footer">
            {{ pagination.links }}
        </div>
    </article>


    <!-- Formulaire de modification -->
    <aside class="aside-form">
        <h2 class="titre">Edition</h2>
        {% if EditUser != None %}
        <form role="form" method="POST" action="{{ url_for('adminUser', id=EditUser.username) }}">
        {% else %}
        <form role="form" method="POST" action="{{ url_for('adminUser', id='-1') }}">
        {% endif %}
            <ul class="nav nav-pills nav-stacked">
                <li>{{ form.hidden_tag() }}</li>
                <li>{{ form.id(class_="form-control", value=EditUser.username if EditUser != None, type="hidden") }}</li>
                <li>{{ form.username(size=50, class_="form-control", placeholder="username", value=EditUser.username if EditUser != None) }}</li>
                <li>{{ form.password(size=50, class_="form-control", placeholder="password") }}</li>
                <li>
                    <div class="footer-form">
                        <span class="left">
                            <input type="button" value="Supprimer" class="btn-form btn-supprimer">
                        </span>
                        <span class="right">
                            <input type="submit" value="Valider" class="btn-form btn-valider">
                        </span>
                    </div>
                </li>
            </ul>
        </form>
    </aside>
            

</section>

<section class="modal-filtre hidden">
    <article class="modal">
        <header class="modal-header">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title">Confirmation</h3>
        </header>
        <section class="modal-main">
            <p class="msg-alert">
                Vous êtes sur le point de supprimer : {{ EditUser.username if EditUser != None }}.<br/>
                Les utilisateurs supprimés NE PEUVENT PAS être restaurés ! Êtes‐vous ABSOLUMENT sûre ?
            </p>
        </section>
        <footer class="modal-footer">
            <form role="form" method="POST" action="{{ url_for('adminUser', id='-2') }}" class="right">
                {{ delete.hidden_tag() }}
                {{ delete.id(class_="form-control", value=EditUser.username if EditUser != None, type="hidden") }}
                <input type="submit" value="Confirmer" class="btn-form btn-supprimer">
            </form>
        </footer>
    </article>
</section>

{% endblock %}