{% extends "bootstrap/base.html" %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block title %}
        {{ pageName }} | {{ appName }}
        {% endblock %}

        {% block styles %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
        {% for file in styleFile %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' + file) }}"/>
        {% endfor %}
        {% endblock %}
    </head>

    <body>
        {% block body %}
        <header>
            {% block navbar %}
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{{ url_for('index') }}" class="navbar-brand">{{ appName }}</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li id="accueil"><a href="{{ url_for('index') }}">Accueil</a></li>
                            {% if current_user.is_authenticated %}
                            <li id="{{ url_for('musique').split('/')[1] }}"><a href="{{ url_for('musique') }}">Musique</a></li>
                            <li id="{{ url_for('preference').split('/')[1] }}"><a href="{{ url_for('preference') }}">Préférence</a></li>
                            <li id="{{ url_for('adminMusique').split('/')[1] }}">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="administration" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Admin
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="administration">
                                        <li><a href="{{ url_for('adminMusique') }}" class="dropdown-item">Musique</a></li>
                                        <li><a href="{{ url_for('adminUser') }}" class="dropdown-item">Utilisateur</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li id="{{ url_for('logout').split('/')[1] }}"><a href="{{ url_for('logout') }}">Logout</a></li>
                            {% else %}
                            <li id="{{ url_for('login').split('/')[1] }}"><a href="{{ url_for('login') }}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% endblock %}
        </header>

        <main>
            {% block main %}
            {% endblock %}
        </main>

        <footer>
            {% block footer %}
            {% endblock %}
        </footer>

        {% block scripts %}
        {{ super() }}
        <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
        <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
        <script>
            initColor("{{ couleurTheme }}");
        </script>
        {% for file in scriptFile %}
        <script src="{{ url_for('static', filename='js/' + file) }}"></script>
        {% endfor %}
        {% endblock %}

        {% endblock %}
    </body>
</html>