{% extends "base.html" %}

{% block main %}

<!-- Le fil d'ariane ou breadcrumb -->
<ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    {% if not loop.last %}
    <li>
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
    </li>
    {% else %}
    <li class="active">
        {{ breadcrumb.text }}
    </li>
    {% endif %}
    {% endfor %}
</ol>

<!-- Le formulaire de connexion -->
<article class="form-connexion">
    <h2 class="titre">{{ pageName }}</h2>

    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        {{ form.username(size=50, class_="form-control", placeholder="Username") }}
        {{ form.password(size=50, class_="form-control", placeholder="Password") }}
        <div class="row group-btn">
            <input type="submit" value="{{ pageName }}" class="login btn">
        </div>
        <div class="row group-btn not-register">
            <a href="{{ url_for('signup') }}">Pas enregistré ? <span>Créer un compte</span></a>
        </div>    
    </form>    
</article>

{% endblock %}

