{% extends "base.html" %}

{% block main %}

<!-- Le fil d'ariane ou breadcrumb -->
<ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    {% if not loop.last %}
    <li>
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
    </li>
    {% else %}
    <li class="active">
        {{ breadcrumb.text }}
    </li>
    {% endif %}
    {% endfor %}
</ol>

<section class="page-musique">
    <div class="row ligne-image">
        {% if image is not none %}
        <img src="{{ url_for('static', filename='img/album/' + image) }}" alt="" class="album-image">
        {% endif %}
    </div>
    <div class="row ligne-titre">
        <h2>{{ titre }}</h2>
    </div>
    <ul class="liste-info">
        <li>
            <p><strong>Artist : </strong>{{ artiste }}</p>
        </li>
        <li>
            <p><strong>Producteur : </strong>{{ producteur }}</p>            
        </li>
        <li>
            <p><strong>Année : </strong>{{ annee }}</p>            
        </li>
        <li>
            <p>
                <strong>Genre{{ "s" if genres|length > 1 }} : </strong>
                {% if genres|length == 0 %}
                Aucun
                {% else %}
                {% for genre in genres %}
                {{ genre }}{{ ", " if not loop.last }}
                {% endfor %}
                {% endif %}
            </p>
        </li>
    </ul>
</section>

{% endblock %}