{% extends "base.html" %}

{% block main %}

<!-- Le fil d'ariane ou breadcrumb -->
<ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    {% if not loop.last %}
    <li>
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
    </li>
    {% else %}
    <li class="active">
        {{ breadcrumb.text }}
    </li>
    {% endif %}
    {% endfor %}
</ol>

<!-- Le formulaire de connexion -->
<article class="form-connexion">
    <h2 class="titre">{{ pageName }}</h2>

    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('signup') }}">
        {{ form.hidden_tag() }}
        {{ form.username(size=50, class_="form-control", placeholder="Username") }}
        {{ form.password(size=50, class_="form-control", placeholder="Password") }}
        {{ form.comfPassword(size=50, class_="form-control", placeholder="Repeat Password") }}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <span class="dangerM">{{ message }}</span>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row group-btn">
            <input type="submit" value="{{ pageName }}" class="login btn">
        </div>
        <div class="row group-btn not-register">
            <a href="{{ url_for('login') }}">Login</a>
        </div>    
    </form>
</article>

{% endblock %}