{% extends "base.html" %}

{% block main %}

<!-- Le fil d'ariane ou breadcrumb -->
<ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    {% if not loop.last %}
    <li>
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
    </li>
    {% else %}
    <li class="active">
        {{ breadcrumb.text }}
    </li>
    {% endif %}
    {% endfor %}
</ol>

<section class="main">
    <ul class="nav nav-pills nav-stacked aside-filter">
        <li class="header">Menu</li>
        <li class="{{ 'active' if filtre == None }}"><a href="{{ url_for('musique') }}">Toutes catégories</a></li>
        <li class="{{ 'active' if filtre == 'annee' }}"><a href="{{ url_for('musique', filtre='annee') }}">Année</a></li>
        <li class="{{ 'active' if filtre == 'artiste' }}"><a href="{{ url_for('musique', filtre='artiste') }}">Artiste</a></li>
        <li class="{{ 'active' if filtre == 'producteur' }}"><a href="{{ url_for('musique', filtre='producteur') }}">Producteur</a></li>
        <li class="{{ 'active' if filtre == 'genre' }}"><a href="{{ url_for('musique', filtre='genre') }}">Genre</a></li>
        <li class="{{ 'active' if filtre == 'titre' }}"><a href="{{ url_for('musique', filtre='titre') }}">Titre</a></li>
    </ul>
    
    <article class="page-musique container">
        <h2 class="titre">{{ pageName }}</h2>
    
        <ul class="liste-musique row">
            {% for musique in listeMusique|sort(attribute='title') %}
            <li>
                <a href="{{ url_for('ficheMusique', id=musique.id) }}">
                    <section class="affiche" style="background-image:url('{{ url_for('static', filename='img/album/' ~ musique.img) }}')">
                        <span class="affiche-titre">{{ musique.title }}
                            <br/>
                            <sub>By : {{ musique.artist.name }}</sub><br/>
                            <sup>{{ musique.releaseYear }}</sup>
                        </span>
                    </section>
                </a>
            </li>
            {% endfor %}
        </ul>
        
        <div class="vide"></div>
        <div class="footer">
            {{ pagination.links }}
        </div>
    </article>
    
    <ul class="nav nav-pills nav-stacked aside-onglets">
        {% for onglet in listeOnglet %}
        <li class="{{ 'active' if onglet == ticket or (ticket == None and loop.first) }}">
            <a href="{{ url_for('musique', filtre=filtre, onglet=onglet) }}">{{ onglet }}</a>
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}