{% extends "base.html" %}


{% block main %}

<!-- Le fil d'ariane ou breadcrumb -->
<ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    {% if not loop.last %}
    <li>
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
    </li>
    {% else %}
    <li class="active">
        {{ breadcrumb.text }}
    </li>
    {% endif %}
    {% endfor %}
</ol>


<section class="main">
    <h2 class="titre">{{ pageName }}</h2>
    
    <ul>
        <li>
            <article>
                <h4 class="theme">Thème</h4>
                <ul class="palette-couleur">
                    {% for theme in listeTheme %}
                    <li class="{{ 'active' if theme.name == couleurTheme }}">
                        <a href="{{ url_for('preference', id=theme.id) }}">
                            <button class="proposition-theme" style="background-color: {{ theme.name }}">
                                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                            </button>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </article>
        </li>
        <li>
            <article>
                <h4 class="theme">Apropos</h4>
                <ul class="apropos">
                    <li>
                        <p>
                            <p class="bold">Nom :</p>
                            {{ appName }}
                        </p>
                    </li>
                    <li>
                        <p>
                            <p class="bold">Contributeurs :</p>
                            CIZEAU Valentin & ORLAY Arnaud
                        </p>
                    </li>
                    <li>
                        <p>
                            <p class="bold">Année :</p>
                            2018 / 2019
                        </p>
                    </li>
                    <li>
                        <p>
                            <p class="bold">Type :</p>
                            Application web de musique
                        </p>
                    </li>
                    <li>
                        <p>
                            <p class="bold">Objectif :</p>
                            <p class="paragraphe">
                                Dans le cadre d'un projet web fourni par les enseignants de l'IUT informatique 
                                d'Orléans, nous devons réaliser une application web de gestion de musique. Pour 
                                ce faire, le serveur doit être réalisé en python. C'est pourquoi le projet est 
                                réalisé en flask. Il utilise un moteur de génération de templates nommé Jinja. 
                                Une base de données y est également présente pour pouvoir récupérer, stocker, 
                                traiter et renvoyer les différentes informations sur les musiques et/ou les 
                                utilisateurs du site internet. Celle-ci est entièrement réalisé au travers le 
                                plugin d'SQLALchemy. D'autres plugins font partie de l'application comme celui 
                                utilisé pour avoir le framework CSS Bootstrap 3. 
                            </p>
                        </p>
                    </li>
                </ul>
            </article>
        </li>
    </ul>

</section>

{% endblock %}